function init(){
    var map = new OpenLayers.Map('map');
    var layer = new OpenLayers.Layer.OSM("Simple OSM Map");
    map.addLayer(layer);
    map.setCenter(
        new OpenLayers.LonLat(8, 50).transform(
            new OpenLayers.Projection("EPSG:4326"),
            map.getProjectionObject()
        ), 8
    );
}